<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.notewarehouse">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logopng_notewarehouse_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logopng_notewarehouse_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoteWarehouse"
        android:usesCleartextTraffic="true">
        <activity android:name=".barangkeluar.BarangKeluarEditActivity" android:parentActivityName=".barangkeluar.BarangKeluarActivity"></activity>
        <activity android:name=".barangkeluar.BarangKeluarTambahActivity" android:parentActivityName=".barangkeluar.BarangKeluarActivity"/>
        <activity android:name=".barangkeluar.BarangKeluarActivity" android:parentActivityName=".HomeActivity"/>
        <activity
            android:name=".laporanstok.LaporanStokActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".barangmasuk.BarangMasukTambahActivity"
            android:parentActivityName=".barangmasuk.BarangMasukActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".barangmasuk.BarangMasukEditActivity"
            android:parentActivityName=".barangmasuk.BarangMasukActivity" />
        <activity
            android:name=".barangmasuk.BarangMasukActivity"
            android:parentActivityName=".HomeActivity" />
        <activity android:name=".LoginActivity" />
    </application>

</manifest>